.mat-drawer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 340px;
}
.mat-drawer-content {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.checkboxes {
  padding: .5em;
}
.checkboxes > * {
  margin-right: .5em;
}
iframe {
  width: 100%;
  height: 300px;
}
textarea {
  height: 150px;
}
.mat-dialog-actions {
  justify-content: flex-end;
}
.two-columns {
  display: flex;
  justify-content: space-between;
}
