<mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button
            color="primary"
            (click)="removeSelected()"
            [disabled]="!selection.hasValue()">
      Delete
    </button>
    <mat-form-field class="filter">
      <input matInput #filter placeholder="Filter">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar-row>
<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-container">
    <table mat-table #table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDirection="desc">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Image</th>
        <td mat-cell *matCellDef="let row"><img src="{{row.image}}" /></td>
      </ng-container>
      <ng-container matColumnDef="advertiser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Online Advertising</th>
        <td mat-cell *matCellDef="let row">{{row.advertiser}}</td>
      </ng-container>
      <ng-container matColumnDef="adSize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ad Size</th>
        <td mat-cell *matCellDef="let row">{{row.adSize}}</td>
      </ng-container>
      <ng-container matColumnDef="clicks.sum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clicks Sum</th>
        <td mat-cell *matCellDef="let row">{{row.clicks?.sum}}</td>
      </ng-container>
      <ng-container matColumnDef="selPatterns.selector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>jQuery Selectors</th>
        <td mat-cell *matCellDef="let row" [innerHtml]="row.selPatternsTable"></td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let row">{{row.createdAt | date:'medium'}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
    </table>
    <mat-paginator #paginator
      [length]="dataSource.total"
      [pageIndex]="0"
      [pageSize]="4"
      [pageSizeOptions]="[4, 8, 16, 32, 120]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
