<form [formGroup]="advarForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Edit ad variant pattern</h1>
  <div mat-dialog-content>
    <mat-drawer-container>
      <mat-drawer mode="side" opened [style.minWidth.px]="drawerWidth">
        <img #bgImage class="bg-image" src="{{data.image}}" />
        <canvas #clicksImage [hidden]="!advarForm.get('showClicks').value"></canvas>
        <div class="checkboxes">
          <mat-checkbox formControlName="showClicks">Show clicks</mat-checkbox>
          <mat-checkbox (change)="expandClicksImage(drawerWidth=$event.checked?540:340)">Expand drawer</mat-checkbox>
        </div>
        <span>Width x Height: {{data.adSize}}</span>
        <a mat-button routerLink="/ad-html" [queryParams]="{id:data._id,name:data.name}" (click)="this.dialogRef.close()">HTML Code</a>
      </mat-drawer>
      <mat-drawer-content>
        <mat-form-field>
          <mat-label>Pattern</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>OnlineA dvertising</mat-label>
          <input matInput formControlName="advertiser">
        </mat-form-field>
        <mat-form-field>
          <mat-label>jQuery selectors</mat-label>
          <textarea matInput formControlName="selPatternsTxt" (focus)="prepareSelPatterns()"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Calculate clicks</mat-label>
          <input matInput disabled [value]="data.clicks.sum || 0">
          <!--button type="button" mat-button matSuffix (click)="calcClicks()" [disabled]="!data.images.clicks || drawerWidth>340">
            Calculate Click Dots
          </button-->
        </mat-form-field>
        <div class="two-columns">
          <mat-form-field>
            <mat-label>Modified At</mat-label>
            <input matInput disabled value="{{data.updatedAt | date:'medium'}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Created At</mat-label>
            <input matInput disabled value="{{data.createdAt | date:'medium'}}">
          </mat-form-field>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button [disabled]="!advarForm.valid" cdkFocusInitial>Save</button>
  </div>
</form>
