<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="IP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IP</th>
            <td mat-cell *matCellDef="let row">{{row.IP}}</td>
          </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ad</th>
        <td mat-cell *matCellDef="let row"><img src="{{row.image}}" /></td>
      </ng-container>
      <ng-container matColumnDef="clickPos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Click Position</th>
        <td mat-cell *matCellDef="let row">{{row.clickPos}}</td>
      </ng-container>
      <ng-container matColumnDef="slot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Ad Slot</th>
        <td mat-cell *matCellDef="let row">{{row.slot}}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Clicked At</th>
          <td mat-cell *matCellDef="let row">{{(row.exitedAt - row.visitedAt) | date:'medium'}}</td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
      [length]="dataSource.total"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
</div>