/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  position: relative;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container {
  position: relative;
  max-height: 800px;
  overflow: auto;
}
table {
  width: 100%;
}
.mat-row:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.mat-column-createdAt {
  max-width: 124px;
}
.mat-column-image img {
  width: 250px;
  height: 100px;
}